[user]
name = Alexander Stensrud
email = {{ .email }}

[core]
ignorecase = false
excludesfile = ~/.gitignore

{{ if and (eq .chezmoi.os "darwin") (eq .email "alex@yuki.no") -}}
[user]
signingkey = {{ onepasswordRead "op://Personal/SSH/public key" }}

[gpg]
format = ssh

[gpg "ssh"]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
allowedSignersFile = ~/.config/allowed-signers

[commit]
gpgsign = true
{{- end }}

[init]
defaultBranch = main

[color]
ui = true

[color "diff-highlight"]
oldNormal = red bold
oldHighlight = red bold 52
newNormal = green bold
newHighlight = green bold 22

[color "diff"]
meta = 11
frag = magenta bold
func = 146 bold
commit = yellow bold
old = red bold
new = green bold
whitespace = red reverse

[pull]
rebase = true
