theme = Dark+
macos-option-as-alt = left
cursor-color = #bcb5b3
background = black
confirm-close-surface = false

font-family = Iosevka Custom Semibold
font-family-bold = Iosevka Custom ExtraBold
font-family-italic = Iosevka Custom Semibold Italic
font-family-bold-italic = Iosevka Custom ExtraBold Italic

font-shaping-break = no-cursor
font-thicken = true
font-thicken-strength = 255

{{ if eq .machine "mba" -}}
adjust-font-baseline = 10%
adjust-cell-height = 10%
adjust-cell-width = 0
font-size = 17.0
{{- end }}

{{ if eq .machine "mbp" -}}
adjust-font-baseline = 10%
adjust-cell-height = 13%
adjust-cell-width = 0
font-size = 18.0
{{- end }}
